---
  version: '2.4'
  services:
    postgres:
      image: postgres
      environment:
        POSTGRES_USER: postgres_user
        POSTGRES_PASSWORD: postgres_pass
        POSTGRES_DB: iot
      ports:
        - '5432:5432'
      volumes:
        - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  
    rabbitmq:
      image: rabbitmq:3-management
      container_name: rabbitmq
      environment:
        RABBITMQ_DEFAULT_USER: rabbit_user
        RABBITMQ_DEFAULT_PASS: rabbit_pass
      ports:
        - '5672:5672'
        - '15672:15672'
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:15672"]
        interval: 15s
        timeout: 10s
        retries: 30
  
    iot:
      build:
        context: ./trying-iot
  
    big-data:
      build:
        context: ./trying-big-data
      container_name: big-data
      depends_on:
        - postgres
        - rabbitmq
      ports:
        - 8080:8080
      expose:
        - "8080"
      environment:
        SPRING_APPLICATION_JSON: '{"spring": {"rabbitmq": {"host": "rabbitmq"}}, { "datasource": {"url": "jdbc:postgres://postgres/iot"}}}'